body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight:400;
    font-style: normal;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
} 
.logo span {
    font-weight: 700;
    color: #2e2f42;
}   
.main-nav li a{
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
}
.main-nav li a:hover :focus
{
    color: #404BBF;
}
.address li a{
    color: #2E2F42;
    font-style: normal;
    text-decoration: none;
}  
address li a:hover{
    color: #404BBF;
}

button {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}   
button:hover {
    background-color: #404BBF;
}
button:focus {
    outline: 2px solid #000000;
    outline-offset: 2px;
}