body {
    font-family: "roboto", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight:400;
    font-style: normal;
}
.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    color: #2E2F42;
    text-decoration: none;
} 
.main-nav li a{
    text-decoration: none;
    color: #2E2F42;
}
.main-nav li a:hover
{
    color: #404BBF;
}
.address li a{
    color: #2E2F42;
    font-style: normal;
    text-decoration: none;
}  
address li a:hover{
    color: #404BBF;
}

button {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
}   
button:hover {
    background-color: #404BBF;
}
button:focus {
    outline: 2px solid #000000;
    outline-offset: 2px;
}