body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight:400;
    font-style: normal;
}
.header {

}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
} 
.span-logo-dark {
    font-weight: 700;
    color: #2e2f42;
}   
.main-nav {
    list-style: none;
}   
.main-nav-list{
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
}
.main-nav-list:hover {
    color: #404BBF;
}
.main-nav-list:focus            
{
    color: #404BBF;
}
address {
    font-style: normal;
}   
.address-item{
    list-style: none;
}
.address-item-list{
    color: #434455;
    letter-spacing: 0.02em;
    text-decoration: none;
}  
.address-item-list:hover
{
    color: #404BBF;
}

.address-item-list:focus{
    color: #404BBF;
}

.hero-section {
    background-color: #2e2f42;
    
}
.hero-section-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}   
.button:hover {
 background-color: #404BBF;
}
.button:focus {
 background-color: #404BBF;
}
.features {
    background-color: #FFFFFF;
}

.features-list {
    list-style: none;
}   
.subtitle {
   font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
    color: #2E2F42;
}

.list-text {
    color:  #434455;
    letter-spacing: 0.02em;
    letter-spacing: 0.02em;

}
.team {
    background-color: #F4F4FD;
}   
.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;

}
.team-list {
    list-style: none;
}   
.team-list-item {
    background-color: #FFFFFF;
}
.portfolio {
    background-color: #FFFFFF;
}   
.portfolio-list {
    list-style: none;
}
.footer {
    background-color: #2e2f42;
    color: #FFFFFF;
}   
.span-logo-light {
    color:  #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}   

