body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight:400;
    font-style: normal;
}
.header {

}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
} 
.logo span {
    font-weight: 700;
    color: #2e2f42;
}   
.main-nav {
    list-style: none;
}   
.main-nav-list{
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
}
.main-nav-list:hover {
    color: #404BBF;
}
.main-nav-list:focus            
{
    color: #404BBF;
}
address {
    font-style: normal;
}   
.address-item{
    list-style: none;
}
.address-item-list{
    color: #434455;
    letter-spacing: 0.02em;
    text-decoration: none;
}  
.address-item-list:hover
{
    color: #404BBF;
}

.address-item-list:focus{
    color: #404BBF;
}

.hero-section {
    background-color: 2E2F42;
    
}
.hero-section-title {
   font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5
    letter-spacing: 1.12px;
}

button {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04e;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}   
button:hover {
    background-color: #404BBF;
}
button:focus {
 color: #404BBF;
}